.navbar {
  position: relative;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
  padding: 0.5rem 1rem; }
  .navbar .container,
  .navbar .container-fluid, .navbar > .container-sm, .navbar > .container-md, .navbar > .container-lg, .navbar > .container-xl {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between; }

.navbar-brand {
  display: inline-block;
  padding-top: 0.3125rem;
  padding-bottom: 0.3125rem;
  margin-right: 1rem;
  font-size: 1.25rem;
  line-height: inherit;
  white-space: nowrap; }
  .navbar-brand:hover, .navbar-brand:focus {
    text-decoration: none; }

.navbar-nav {
  display: flex;
  flex-direction: column;
  padding-left: 0;
  margin-bottom: 0;
  list-style: none; }
  .navbar-nav .nav-link {
    padding-right: 0;
    padding-left: 0; }
  .navbar-nav .dropdown-menu {
    position: static;
    float: none; }

.navbar-text {
  display: inline-block;
  padding-top: 0.5rem;
  padding-bottom: 0.5rem; }

.navbar-collapse {
  flex-basis: 100%;
  flex-grow: 1;
  align-items: center; }

.navbar-toggler {
  padding: 0.25rem 0.75rem;
  font-size: 1.25rem;
  line-height: 1;
  background-color: transparent;
  border: 1px solid transparent;
  border-radius: 0.25rem; }
  .navbar-toggler:hover, .navbar-toggler:focus {
    text-decoration: none; }

.navbar-toggler-icon {
  display: inline-block;
  width: 1.5em;
  height: 1.5em;
  vertical-align: middle;
  content: "";
  background: no-repeat center center;
  background-size: 100% 100%; }

@media (max-width: 575.98px) {
  .navbar-expand-sm > .container,
  .navbar-expand-sm > .container-fluid, .navbar-expand-sm > .container-sm, .navbar-expand-sm > .container-md, .navbar-expand-sm > .container-lg, .navbar-expand-sm > .container-xl {
    padding-right: 0;
    padding-left: 0; } }

@media (min-width: 576px) {
  .navbar-expand-sm {
    flex-flow: row nowrap;
    justify-content: flex-start; }
    .navbar-expand-sm .navbar-nav {
      flex-direction: row; }
      .navbar-expand-sm .navbar-nav .dropdown-menu {
        position: absolute; }
      .navbar-expand-sm .navbar-nav .nav-link {
        padding-right: 0.5rem;
        padding-left: 0.5rem; }
    .navbar-expand-sm > .container,
    .navbar-expand-sm > .container-fluid, .navbar-expand-sm > .container-sm, .navbar-expand-sm > .container-md, .navbar-expand-sm > .container-lg, .navbar-expand-sm > .container-xl {
      flex-wrap: nowrap; }
    .navbar-expand-sm .navbar-collapse {
      display: flex !important;
      flex-basis: auto; }
    .navbar-expand-sm .navbar-toggler {
      display: none; } }

@media (max-width: 767.98px) {
  .navbar-expand-md > .container,
  .navbar-expand-md > .container-fluid, .navbar-expand-md > .container-sm, .navbar-expand-md > .container-md, .navbar-expand-md > .container-lg, .navbar-expand-md > .container-xl {
    padding-right: 0;
    padding-left: 0; } }

@media (min-width: 768px) {
  .navbar-expand-md {
    flex-flow: row nowrap;
    justify-content: flex-start; }
    .navbar-expand-md .navbar-nav {
      flex-direction: row; }
      .navbar-expand-md .navbar-nav .dropdown-menu {
        position: absolute; }
      .navbar-expand-md .navbar-nav .nav-link {
        padding-right: 0.5rem;
        padding-left: 0.5rem; }
    .navbar-expand-md > .container,
    .navbar-expand-md > .container-fluid, .navbar-expand-md > .container-sm, .navbar-expand-md > .container-md, .navbar-expand-md > .container-lg, .navbar-expand-md > .container-xl {
      flex-wrap: nowrap; }
    .navbar-expand-md .navbar-collapse {
      display: flex !important;
      flex-basis: auto; }
    .navbar-expand-md .navbar-toggler {
      display: none; } }

@media (max-width: 991.98px) {
  .navbar-expand-lg > .container,
  .navbar-expand-lg > .container-fluid, .navbar-expand-lg > .container-sm, .navbar-expand-lg > .container-md, .navbar-expand-lg > .container-lg, .navbar-expand-lg > .container-xl {
    padding-right: 0;
    padding-left: 0; } }

@media (min-width: 992px) {
  .navbar-expand-lg {
    flex-flow: row nowrap;
    justify-content: flex-start; }
    .navbar-expand-lg .navbar-nav {
      flex-direction: row; }
      .navbar-expand-lg .navbar-nav .dropdown-menu {
        position: absolute; }
      .navbar-expand-lg .navbar-nav .nav-link {
        padding-right: 0.5rem;
        padding-left: 0.5rem; }
    .navbar-expand-lg > .container,
    .navbar-expand-lg > .container-fluid, .navbar-expand-lg > .container-sm, .navbar-expand-lg > .container-md, .navbar-expand-lg > .container-lg, .navbar-expand-lg > .container-xl {
      flex-wrap: nowrap; }
    .navbar-expand-lg .navbar-collapse {
      display: flex !important;
      flex-basis: auto; }
    .navbar-expand-lg .navbar-toggler {
      display: none; } }

@media (max-width: 1199.98px) {
  .navbar-expand-xl > .container,
  .navbar-expand-xl > .container-fluid, .navbar-expand-xl > .container-sm, .navbar-expand-xl > .container-md, .navbar-expand-xl > .container-lg, .navbar-expand-xl > .container-xl {
    padding-right: 0;
    padding-left: 0; } }

@media (min-width: 1200px) {
  .navbar-expand-xl {
    flex-flow: row nowrap;
    justify-content: flex-start; }
    .navbar-expand-xl .navbar-nav {
      flex-direction: row; }
      .navbar-expand-xl .navbar-nav .dropdown-menu {
        position: absolute; }
      .navbar-expand-xl .navbar-nav .nav-link {
        padding-right: 0.5rem;
        padding-left: 0.5rem; }
    .navbar-expand-xl > .container,
    .navbar-expand-xl > .container-fluid, .navbar-expand-xl > .container-sm, .navbar-expand-xl > .container-md, .navbar-expand-xl > .container-lg, .navbar-expand-xl > .container-xl {
      flex-wrap: nowrap; }
    .navbar-expand-xl .navbar-collapse {
      display: flex !important;
      flex-basis: auto; }
    .navbar-expand-xl .navbar-toggler {
      display: none; } }

.navbar-expand {
  flex-flow: row nowrap;
  justify-content: flex-start; }
  .navbar-expand > .container,
  .navbar-expand > .container-fluid, .navbar-expand > .container-sm, .navbar-expand > .container-md, .navbar-expand > .container-lg, .navbar-expand > .container-xl {
    padding-right: 0;
    padding-left: 0; }
  .navbar-expand .navbar-nav {
    flex-direction: row; }
    .navbar-expand .navbar-nav .dropdown-menu {
      position: absolute; }
    .navbar-expand .navbar-nav .nav-link {
      padding-right: 0.5rem;
      padding-left: 0.5rem; }
  .navbar-expand > .container,
  .navbar-expand > .container-fluid, .navbar-expand > .container-sm, .navbar-expand > .container-md, .navbar-expand > .container-lg, .navbar-expand > .container-xl {
    flex-wrap: nowrap; }
  .navbar-expand .navbar-collapse {
    display: flex !important;
    flex-basis: auto; }
  .navbar-expand .navbar-toggler {
    display: none; }

.navbar-light .navbar-brand {
  color: rgba(0, 0, 0, 0.9); }
  .navbar-light .navbar-brand:hover, .navbar-light .navbar-brand:focus {
    color: rgba(0, 0, 0, 0.9); }

.navbar-light .navbar-nav .nav-link {
  color: rgba(0, 0, 0, 0.5); }
  .navbar-light .navbar-nav .nav-link:hover, .navbar-light .navbar-nav .nav-link:focus {
    color: rgba(0, 0, 0, 0.7); }
  .navbar-light .navbar-nav .nav-link.disabled {
    color: rgba(0, 0, 0, 0.3); }

.navbar-light .navbar-nav .show > .nav-link,
.navbar-light .navbar-nav .active > .nav-link,
.navbar-light .navbar-nav .nav-link.show,
.navbar-light .navbar-nav .nav-link.active {
  color: rgba(0, 0, 0, 0.9); }

.navbar-light .navbar-toggler {
  color: rgba(0, 0, 0, 0.5);
  border-color: rgba(0, 0, 0, 0.1); }

.navbar-light .navbar-toggler-icon {
  background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' width='30' height='30' viewBox='0 0 30 30'%3e%3cpath stroke='rgba(0, 0, 0, 0.5)' stroke-linecap='round' stroke-miterlimit='10' stroke-width='2' d='M4 7h22M4 15h22M4 23h22'/%3e%3c/svg%3e"); }

.navbar-light .navbar-text {
  color: rgba(0, 0, 0, 0.5); }
  .navbar-light .navbar-text a {
    color: rgba(0, 0, 0, 0.9); }
    .navbar-light .navbar-text a:hover, .navbar-light .navbar-text a:focus {
      color: rgba(0, 0, 0, 0.9); }

.navbar-dark .navbar-brand {
  color: #fff; }
  .navbar-dark .navbar-brand:hover, .navbar-dark .navbar-brand:focus {
    color: #fff; }

.navbar-dark .navbar-nav .nav-link {
  color: rgba(255, 255, 255, 0.5); }
  .navbar-dark .navbar-nav .nav-link:hover, .navbar-dark .navbar-nav .nav-link:focus {
    color: rgba(255, 255, 255, 0.75); }
  .navbar-dark .navbar-nav .nav-link.disabled {
    color: rgba(255, 255, 255, 0.25); }

.navbar-dark .navbar-nav .show > .nav-link,
.navbar-dark .navbar-nav .active > .nav-link,
.navbar-dark .navbar-nav .nav-link.show,
.navbar-dark .navbar-nav .nav-link.active {
  color: #fff; }

.navbar-dark .navbar-toggler {
  color: rgba(255, 255, 255, 0.5);
  border-color: rgba(255, 255, 255, 0.1); }

.navbar-dark .navbar-toggler-icon {
  background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' width='30' height='30' viewBox='0 0 30 30'%3e%3cpath stroke='rgba(255, 255, 255, 0.5)' stroke-linecap='round' stroke-miterlimit='10' stroke-width='2' d='M4 7h22M4 15h22M4 23h22'/%3e%3c/svg%3e"); }

.navbar-dark .navbar-text {
  color: rgba(255, 255, 255, 0.5); }
  .navbar-dark .navbar-text a {
    color: #fff; }
    .navbar-dark .navbar-text a:hover, .navbar-dark .navbar-text a:focus {
      color: #fff; }

.table {
  width: 100%;
  margin-bottom: 1rem;
  color: #212529; }
  .table th,
  .table td {
    padding: 0.75rem;
    vertical-align: top;
    border-top: 1px solid #dee2e6; }
  .table thead th {
    vertical-align: bottom;
    border-bottom: 2px solid #dee2e6; }
  .table tbody + tbody {
    border-top: 2px solid #dee2e6; }

.table-sm th,
.table-sm td {
  padding: 0.3rem; }

.table-bordered {
  border: 1px solid #dee2e6; }
  .table-bordered th,
  .table-bordered td {
    border: 1px solid #dee2e6; }
  .table-bordered thead th,
  .table-bordered thead td {
    border-bottom-width: 2px; }

.table-borderless th,
.table-borderless td,
.table-borderless thead th,
.table-borderless tbody + tbody {
  border: 0; }

.table-striped tbody tr:nth-of-type(odd) {
  background-color: rgba(0, 0, 0, 0.05); }

.table-hover tbody tr:hover {
  color: #212529;
  background-color: rgba(0, 0, 0, 0.075); }

.table-primary,
.table-primary > th,
.table-primary > td {
  background-color: #b8daff; }

.table-primary th,
.table-primary td,
.table-primary thead th,
.table-primary tbody + tbody {
  border-color: #7abaff; }

.table-hover .table-primary:hover {
  background-color: #9fcdff; }
  .table-hover .table-primary:hover > td,
  .table-hover .table-primary:hover > th {
    background-color: #9fcdff; }

.table-secondary,
.table-secondary > th,
.table-secondary > td {
  background-color: #d6d8db; }

.table-secondary th,
.table-secondary td,
.table-secondary thead th,
.table-secondary tbody + tbody {
  border-color: #b3b7bb; }

.table-hover .table-secondary:hover {
  background-color: #c8cbcf; }
  .table-hover .table-secondary:hover > td,
  .table-hover .table-secondary:hover > th {
    background-color: #c8cbcf; }

.table-success,
.table-success > th,
.table-success > td {
  background-color: #c3e6cb; }

.table-success th,
.table-success td,
.table-success thead th,
.table-success tbody + tbody {
  border-color: #8fd19e; }

.table-hover .table-success:hover {
  background-color: #b1dfbb; }
  .table-hover .table-success:hover > td,
  .table-hover .table-success:hover > th {
    background-color: #b1dfbb; }

.table-info,
.table-info > th,
.table-info > td {
  background-color: #bee5eb; }

.table-info th,
.table-info td,
.table-info thead th,
.table-info tbody + tbody {
  border-color: #86cfda; }

.table-hover .table-info:hover {
  background-color: #abdde5; }
  .table-hover .table-info:hover > td,
  .table-hover .table-info:hover > th {
    background-color: #abdde5; }

.table-warning,
.table-warning > th,
.table-warning > td {
  background-color: #ffeeba; }

.table-warning th,
.table-warning td,
.table-warning thead th,
.table-warning tbody + tbody {
  border-color: #ffdf7e; }

.table-hover .table-warning:hover {
  background-color: #ffe8a1; }
  .table-hover .table-warning:hover > td,
  .table-hover .table-warning:hover > th {
    background-color: #ffe8a1; }

.table-danger,
.table-danger > th,
.table-danger > td {
  background-color: #f5c6cb; }

.table-danger th,
.table-danger td,
.table-danger thead th,
.table-danger tbody + tbody {
  border-color: #ed969e; }

.table-hover .table-danger:hover {
  background-color: #f1b0b7; }
  .table-hover .table-danger:hover > td,
  .table-hover .table-danger:hover > th {
    background-color: #f1b0b7; }

.table-light,
.table-light > th,
.table-light > td {
  background-color: #fdfdfe; }

.table-light th,
.table-light td,
.table-light thead th,
.table-light tbody + tbody {
  border-color: #fbfcfc; }

.table-hover .table-light:hover {
  background-color: #ececf6; }
  .table-hover .table-light:hover > td,
  .table-hover .table-light:hover > th {
    background-color: #ececf6; }

.table-dark,
.table-dark > th,
.table-dark > td {
  background-color: #c6c8ca; }

.table-dark th,
.table-dark td,
.table-dark thead th,
.table-dark tbody + tbody {
  border-color: #95999c; }

.table-hover .table-dark:hover {
  background-color: #b9bbbe; }
  .table-hover .table-dark:hover > td,
  .table-hover .table-dark:hover > th {
    background-color: #b9bbbe; }

.table-active,
.table-active > th,
.table-active > td {
  background-color: rgba(0, 0, 0, 0.075); }

.table-hover .table-active:hover {
  background-color: rgba(0, 0, 0, 0.075); }
  .table-hover .table-active:hover > td,
  .table-hover .table-active:hover > th {
    background-color: rgba(0, 0, 0, 0.075); }

.table .thead-dark th {
  color: #fff;
  background-color: #343a40;
  border-color: #454d55; }

.table .thead-light th {
  color: #495057;
  background-color: #e9ecef;
  border-color: #dee2e6; }

.table-dark {
  color: #fff;
  background-color: #343a40; }
  .table-dark th,
  .table-dark td,
  .table-dark thead th {
    border-color: #454d55; }
  .table-dark.table-bordered {
    border: 0; }
  .table-dark.table-striped tbody tr:nth-of-type(odd) {
    background-color: rgba(255, 255, 255, 0.05); }
  .table-dark.table-hover tbody tr:hover {
    color: #fff;
    background-color: rgba(255, 255, 255, 0.075); }

@media (max-width: 575.98px) {
  .table-responsive-sm {
    display: block;
    width: 100%;
    overflow-x: auto;
    -webkit-overflow-scrolling: touch; }
    .table-responsive-sm > .table-bordered {
      border: 0; } }

@media (max-width: 767.98px) {
  .table-responsive-md {
    display: block;
    width: 100%;
    overflow-x: auto;
    -webkit-overflow-scrolling: touch; }
    .table-responsive-md > .table-bordered {
      border: 0; } }

@media (max-width: 991.98px) {
  .table-responsive-lg {
    display: block;
    width: 100%;
    overflow-x: auto;
    -webkit-overflow-scrolling: touch; }
    .table-responsive-lg > .table-bordered {
      border: 0; } }

@media (max-width: 1199.98px) {
  .table-responsive-xl {
    display: block;
    width: 100%;
    overflow-x: auto;
    -webkit-overflow-scrolling: touch; }
    .table-responsive-xl > .table-bordered {
      border: 0; } }

.table-responsive {
  display: block;
  width: 100%;
  overflow-x: auto;
  -webkit-overflow-scrolling: touch; }
  .table-responsive > .table-bordered {
    border: 0; }

:root {
  --color-primary: rgba(89,168,1,0.93);
  --color-grey-dark-1: #333;
  --color-grey-dark-2: #777;
  --color-grey-dark-3: #999;
  --color-grey-light: #3A4653;
  --color-grey-lightest: #EBF3FA;
  --color-ash-bg: #F8F8F8; }

html {
  box-sizing: border-box;
  font-size: 62.5%; }
  @media only screen and (max-width: 1000px) {
    html {
      font-size: 55%; } }
  @media only screen and (max-width: 890px) {
    html {
      font-size: 50%; } }
  @media only screen and (max-width: 380px) {
    html {
      font-size: 44%; } }

* {
  margin: 0;
  padding: 0; }

*, *::after, *::before {
  box-sizing: inherit; }

body {
  font-family: 'Ubuntu', sans-serif;
  font-weight: 400;
  line-height: 1.6;
  color: var(--color-grey-light); }

.container {
  max-width: 120rem;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  height: 100vh;
  position: relative; }

.logo {
  margin-right: auto; }
  @media only screen and (max-width: 50.63em) {
    .logo {
      width: 7rem; } }

.header {
  height: 8rem;
  background-color: #fff;
  box-shadow: 0 0.2rem 1rem -0.3rem rgba(0, 0, 0, 0.06);
  display: flex;
  align-items: center;
  padding: 0 3rem; }

.user-nav {
  height: 100%; }
  @media only screen and (max-width: 50.63em) {
    .user-nav {
      display: flex;
      align-items: center; } }
  .user-nav__box {
    height: 100%;
    display: flex;
    align-items: stretch; }
    @media only screen and (max-width: 50.63em) {
      .user-nav__box {
        display: none; } }
  .user-nav__menu {
    display: none; }
    @media only screen and (max-width: 50.63em) {
      .user-nav__menu {
        display: block; }
        .user-nav__menu img {
          width: 4.5rem;
          fill: var(--color-primary); } }
  .user-nav__item {
    list-style: none;
    font-size: 1.5rem;
    display: flex;
    align-items: center;
    cursor: pointer;
    transition: all .3s; }
    .user-nav__item:not(:last-child) {
      margin-right: 3.5rem; }
  .user-nav__item--active, .user-nav__item:hover {
    font-weight: 700;
    font-size: 1.6rem;
    color: var(--color-primary);
    border-bottom: 3px solid currentColor; }

.content {
  padding: 0 3rem; }

.modal__container {
  width: 100%;
  height: 100vh;
  position: absolute;
  background-color: rgba(0, 0, 0, 0.6);
  top: 0;
  left: 0; }

.modal__content {
  position: absolute;
  top: 30%;
  left: 50%;
  transform: translate(-50%, -30%);
  padding: 4rem 2rem;
  border-radius: .4rem;
  outline: none;
  width: 40%;
  animation: open-modal .4s;
  background-color: #fff; }
  @media only screen and (max-width: 68.75em) {
    .modal__content {
      width: 50%; } }
  @media only screen and (max-width: 50.63em) {
    .modal__content {
      width: 70%; } }
  @media only screen and (max-width: 31.25em) {
    .modal__content {
      width: 90%; } }
  .modal__content span {
    position: absolute;
    top: 0;
    right: 0;
    font-size: 2rem;
    line-height: 1;
    padding: 1rem;
    cursor: pointer; }

.footer {
  margin-top: auto;
  text-align: center;
  padding: 2rem 0;
  border-top: 1px solid var(--color-grey-lightest);
  font-size: 1.2rem; }

@keyframes open-modal {
  0% {
    opacity: 0;
    transform: translate(-50%, -30%) scale(0.5); }
  100% {
    opacity: 1;
    transform: translate(-50%, -30%) scale(1); } }

.form {
  font-size: 1.5rem; }
  .form__group:not(:last-child) {
    margin-bottom: 3rem; }
  .form__label {
    display: block;
    color: var(--color-primary); }
  .form__input {
    width: 82%;
    padding: 1.1rem 1.5rem;
    font-family: inherit;
    font-size: 1.5rem;
    border: .8px solid #ced4da;
    border-radius: 3px;
    margin-right: 1rem;
    display: block; }
    .form__input:focus {
      outline: none; }
    .form__input::-webkit-input-placeholder {
      color: #999; }
  .form .single-div {
    display: flex; }

.login__form {
  width: 80%;
  margin: 1rem auto; }
  .login__form-header {
    text-align: center;
    font-size: 2.2rem;
    margin-bottom: 2rem;
    text-transform: uppercase; }
  .login__form-footer {
    text-align: center;
    font-size: 1.5rem;
    padding: 2rem; }

.btn {
  padding: 1.2rem 2.5rem;
  border-radius: 5px;
  font-size: 1.5rem;
  display: inline-block;
  cursor: pointer;
  text-transform: capitalize;
  outline: none;
  font-family: inherit;
  border: 1px solid currentColor; }

.btn-standard {
  background-color: var(--color-primary);
  color: #fff;
  border: 1px solid var(--color-primary); }

.btn-alt {
  background-color: #fff;
  color: var(--color-primary); }

.btn-inline {
  background-color: transparent;
  color: var(--color-primary);
  text-decoration: underline;
  border: none;
  font-family: inherit;
  font-size: inherit; }
  .btn-inline:focus {
    outline: none; }

.banner {
  display: flex; }
  .banner__details {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    font-size: 1.4rem; }
  .banner__details-pry {
    padding: 8rem 0; }
    .banner__details-pry h1 {
      font-size: 4rem;
      font-family: 'Montserrat', sans-serif;
      font-weight: 700;
      text-transform: uppercase; }
  .banner__details-sec:not(:last-child) {
    margin-bottom: 4rem; }
  .banner__details-sec img {
    width: 10.5rem; }
  .banner__details-sec h4 {
    font-size: 1.8rem;
    text-transform: capitalize;
    font-weight: 500; }
  .banner__details-sec p {
    margin-bottom: 2rem; }
  .banner__img {
    flex: 0 0 62%; }
    @media only screen and (max-width: 75em) {
      .banner__img {
        flex: 0 0 58%; } }
    @media only screen and (max-width: 68.75em) {
      .banner__img {
        flex: 0 0 55%; } }
    @media only screen and (max-width: 50.63em) {
      .banner__img {
        display: none; } }
    .banner__img img {
      width: 100%;
      display: block; }
  .banner__details-icons img {
    margin-right: 2rem; }

.vin-reg {
  width: 70%;
  margin: 10rem auto;
  background-color: #fff;
  display: flex;
  flex-direction: column;
  border-radius: 5px;
  padding: 5rem;
  box-shadow: 0 2rem 3rem rgba(0, 0, 0, 0.06), 0 -0.5rem 3rem rgba(0, 0, 0, 0.06); }
  @media only screen and (max-width: 50.63em) {
    .vin-reg {
      width: 95%; } }
  @media only screen and (max-width: 50.63em) {
    .vin-reg {
      padding: 4rem; } }
  .vin-reg__text {
    display: flex;
    margin-bottom: 1rem;
    font-size: 1.4rem; }
    @media only screen and (max-width: 50.63em) {
      .vin-reg__text {
        font-size: 1rem; } }
    .vin-reg__text h4 {
      margin-right: auto; }
  .vin-reg__upload-bulk {
    font-size: 1.4rem;
    padding: 4rem 0;
    width: 100%;
    display: flex;
    flex-direction: column;
    background-color: #FBFBFB;
    align-items: center;
    justify-content: space-between; }
    @media only screen and (max-width: 50.63em) {
      .vin-reg__upload-bulk {
        padding: 2.5rem 0; } }
    .vin-reg__upload-bulk img {
      width: 4rem;
      display: block;
      margin-bottom: 2rem; }
  .vin-reg__divider {
    font-size: 1.4rem;
    text-align: center;
    margin: 4rem 0; }
  .vin-reg__upload-single {
    font-size: 1.4rem;
    height: 9rem;
    background-color: rgba(89, 168, 1, 0.15);
    border-radius: 3px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around; }
    .vin-reg__upload-single img {
      width: 3rem;
      display: block; }
    .vin-reg__upload-single a {
      color: var(--color-primary);
      font-weight: 700;
      text-decoration: none; }

.vin-box {
  width: 70%;
  margin: 10rem auto;
  background-color: #fff;
  display: flex;
  flex-direction: column;
  border-radius: 5px;
  padding: 5rem;
  box-shadow: 0 2rem 3rem rgba(0, 0, 0, 0.06), 0 -0.5rem 3rem rgba(0, 0, 0, 0.06); }
  @media only screen and (max-width: 50.63em) {
    .vin-box {
      width: 95%; } }
  @media only screen and (max-width: 50.63em) {
    .vin-box {
      padding: 3rem; } }

.vin-validity {
  font-size: 1.6rem; }
  .vin-validity__header {
    display: flex;
    font-size: 1.8rem; }
    .vin-validity__header p {
      margin-right: auto;
      text-transform: uppercase; }
  .vin-validity__content {
    padding: 3rem;
    display: flex;
    flex-direction: column;
    height: 55vh;
    overflow: auto; }
    .vin-validity__content::-webkit-scrollbar {
      padding-left: 2rem;
      width: 6px;
      border-radius: 10px;
      -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.096);
      background-color: var(--color-ash-bg); }
      @media only screen and (max-width: 50.63em) {
        .vin-validity__content::-webkit-scrollbar {
          width: 4px; } }
    .vin-validity__content::-webkit-scrollbar-track {
      -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.116);
      border-radius: 10px;
      background-color: var(--color-ash-bg); }
    .vin-validity__content::-webkit-scrollbar-thumb {
      border-radius: 10px;
      -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.144);
      background-color: rgba(85, 85, 85, 0.205); }
    @media only screen and (max-width: 50.63em) {
      .vin-validity__content {
        padding: 3rem 1.5rem; } }
  .vin-validity__item {
    display: flex;
    background-color: var(--color-ash-bg);
    padding: .9rem 2rem; }
    @media only screen and (max-width: 50.63em) {
      .vin-validity__item {
        padding: .8rem 1rem; } }
    .vin-validity__item:not(:last-child) {
      margin-bottom: 2rem; }
  .vin-validity__text {
    text-transform: uppercase;
    margin-right: 4rem;
    font-weight: 500; }
    @media only screen and (max-width: 50.63em) {
      .vin-validity__text {
        margin-right: 2rem; } }
    .vin-validity__text + span {
      font-size: 1.1rem;
      padding: 0 3rem;
      display: flex;
      align-items: center;
      margin-right: auto; }
  .vin-validity__cta {
    display: flex;
    justify-content: center;
    margin-top: 3rem; }
  .vin-validity__valid {
    background-color: rgba(89, 168, 1, 0.15);
    border: 1px solid rgba(89, 168, 1, 0.29);
    border-radius: 2px;
    color: #59A801; }
  .vin-validity__invalid {
    background-color: rgba(225, 48, 38, 0.2);
    border: 1px solid #E13026;
    border-radius: 2px;
    color: #E13026; }
  .vin-validity__close {
    font-size: 1rem;
    color: #9ABEDE;
    font-size: 2rem;
    line-height: 1;
    cursor: pointer; }

.margin-right-sm {
  margin-right: 2.5rem !important; }

.full {
  width: 100% !important; }
